a.nav-link {
    display: flex;
    align-items: center;
}
.image-text{
    color: white;
}
.search-image{
    height: 300px;
    background: no-repeat center scroll;
}
.search-component{
    background:url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=felix-mooneeram-evlkOfkQ5rE-unsplash.jpg&w=1920');
    background-size:cover;  
    height: 300px;
    justify-content: center;
    width: 100%;
}
.search-component input{
    width: 100%;
}
.submit-button{
    background-color: #010e49;
    border-color: #010e49;
}
.material-icons {
    vertical-align: middle;
}
.card-text{
    font-size:0.66em;
}
.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #010e49;
    color: white;
 }
